<%- include('partials/header') %>

<h3>Postojeće Opcije: Projekat <%=project.name%></h3>
<ul>
    <% project.options.forEach(option => { %>
        <li><%= option.name %></li>
    <% }); %>
</ul>

<h3>Dodaj nove opcije:</h3>
<form action="/project/<%= project.id %>/edit" method="POST">
    <!-- Check-box opcije koje nisu zauzete -->
    <div class="checkbox-options">
        <% ['povezivanje_na_tester', 'testiranje', 'hv_test', 'spisak_gresaka'].forEach(option => { %>
            <% if (!project.options.some(o => o.name === option)) { %>
                <label>
                    <input type="checkbox" name="options[]" value="<%= option %>"> <%= option.replace(/_/g, ' ').toUpperCase() %>
                </label><br>
            <% } %>
        <% }); %>
    </div>

    <h4>Nova Opcija:</h4>
    <input type="text" name="newOption" autocomplete="off" placeholder="Unesite naziv nove opcije (ako želite više opcija, odvojite ih zarezom)"><br>
    <p class="hint">Ako želite da dodate više opcija, jednostavno unesite nazive opcija odvojene zarezom.</p>

    <button type="submit" class="btn">Dodaj Opcije</button>
</form>

<!-- Dugme za povratak na sve projekte -->
<a href="/projects" class="btn btn-back">Vrati se na sve projekte</a>

<%- include('partials/footer') %>
