

<%- include("partials/header.ejs") %>

<form action="/project/<%= projectId %>/option/<%= optionName %>/edit/<%= post.id %>" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<%= post.title %>" required>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" name="content"  required><%= post.content %></textarea>
    </div>
    <div class="form-group">
        <label for="imageUrl">Upload Image (Optional)</label>
        <input type="file" id="imageUrl" name="imageUrl" accept="image/*">
        <% if (post.imageUrl) { %>
            <p>Current Image: <img src="<%= post.imageUrl %>" alt="Post Image" width="100"></p>
        <% } %>
    </div>
    <button type="submit" class="btn">Update Post</button>
</form>

<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>





<%- include("partials/footer.ejs") %>