<%- include("partials/editor_header.ejs") %>

<h3>Kreiranje Posta za Opciju: <span><%= option.name %></span></h3>

<form action="/project/<%= project.id %>/option/<%= option.name %>/create-post" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Naslov:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="content">Sadržaj:</label>
        <textarea id="content" name="content" required></textarea>
    </div>
    <div class="form-group">
        <label for="imageUrl">Slika (opcionalno):</label>
        <input type="file" id="imageUrl" name="imageUrl" accept="image/*">
    </div>
    <button type="submit" class="btn">Kreiraj Post</button>
</form>

<% if (message && message.length > 0) { %>
    <p><%= message %></p>
<% } %>

<!-- script that include tiny Mousue doe field description -->

<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>


<script>
    var quill = new Quill('#content', {
      theme: 'snow'
    });    
  

</script>



<%- include("partials/footer.ejs") %>
