<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekti</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/modal1.css">
    <link rel="stylesheet" href="/project_cards.css">
    

</head>
<body>
    <header>
        <nav>
            <% if (user) { %>
                <h1 style="font-size: 30px;">Dobrodošao, <%= user.username %>!<br> Uživajte u svom vremenu na QS Team Projects sajtu i neka svaki projekat bude uspješan!</h1>
                <nav>
                    <a href="/">Početna</a>
                    <a href="/projects">Projekti</a>
                    <a href="/logout">Logout</a>
                </nav>
            <% } else { %>
                <h1>Dobrodošli na QS Team Projects Site</h1>
                <nav>
                    <a href="/">Početna</a>
                    <a href="/projects">Projekti</a>
                    <a href="/login">Login</a>
                </nav>
            <% } %>
        </nav>
    </header>

    <div class="projects-container">
        <h2 class="projects-title">Trenutno Kreirani Projekti</h2>
        
        <!-- Polje za filtriranje -->
        <input type="text" id="filterInput" class="filter-input" placeholder="Pretraži projekte..." onkeyup="filterProjects()" class="filter-input">

        <div class="projects-cards-container">
            <% projects.forEach(project => { %>
                <div class="project-card">
                    <div class="project-card-header">
                        <a href="/project/<%= project.id %>" class="project-link"><%= project.name %></a>
                    </div>
                    <div class="project-card-footer">
                        <a href="/edit-project/<%= project.id %>" class="btn-edit-project">Edit</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    
    <script>

    function filterProjects() {
        // Uzimamo vrednost iz polja za filtriranje
        var input = document.getElementById('filterInput');
        var filter = input.value.toUpperCase(); // Pretvaramo unos u velika slova
        var projectCards = document.querySelectorAll('.project-card');

        // Iteriramo kroz svaku karticu projekta
        projectCards.forEach(function(card) {
            var projectName = card.querySelector('.project-link').textContent;
            if (projectName.toUpperCase().indexOf(filter) > -1) {
                card.style.display = ''; // Prikazujemo karticu
            } else {
                card.style.display = 'none'; // Skrivamo karticu
            }
        });
    }




    </script> 

    <%- include('partials/footer') %>

    


