<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekti</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/modal1.css">
</head>
<body>
    <header>
        <% if (user) { %>
            <h1 style="font-size: 30px;">Dobrodošao, <%= user.username %>!<br> Uživajte u svom vremenu na QS Team Projects sajtu i neka svaki projekat bude uspješan!</h1>
        <% } else { %>
            <h1>Dobrodošli na QS Team Projects Site</h1>
        <% } %>
        <% if (user) { %>
        <nav>
            <a href="/">Početna</a>
            <a href="/projects">Projekti</a>
            <% if (user) { %>
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Login</a>
            <% } %>
        </nav>
        
    </header>


<div class="projects-container">
    <h2 class="projects-title">Trenutno Kreirani Projekti</h2>
    <ul class="post-list">
        <% projects.forEach(project => { %>
            <li class="post-item">               
                 
                <div class="project-item-container">
                    <button id="deleteButton" class="btn-edit-project" data-id="<%= project.id %>">Delete</button>

                                      
                    <a href="/project/<%= project.id %>" class="project-link"><%= project.name %></a>
                    <a href="/edit-project/<%= project.id %>" class="btn-edit-project">Edit</a>
                </div>
                
            </li>
        <% }); %>
    </ul>
</div>
<% } %>


<%- include('partials/footer') %>

<script>
// Kada korisnik klikne na dugme za brisanje
document.getElementById('deleteButton').addEventListener('click', function() {
    const projectId = this.getAttribute('data-id');  // Pretpostavljamo da 'data-id' sadrži project ID

    fetch('/delete-project/' + projectId, {
        method: 'DELETE'
    })
    .then(response => {
        // Ako odgovor nije uspešan, ispisujemo grešku
        if (!response.ok) {
            throw new Error('Greška na serveru: ' + response.status);
        }
        return response.json();  // Ako je odgovor OK, pretvori ga u JSON
    })
    .then(data => {
        console.log(data);  // Ovde koristiš odgovor servera
        alert('Projekat obrisan!');
        window.location.href = '/projects';  // Preusmeravanje na listu projekata
    })
    .catch(error => {
        console.error('Došlo je do greške:', error);
        alert('Greška pri brisanju projekta');
    });
});
</script>
 
